

/* services page */


@keyframes flip {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes flipBack {
    from {
      transform: rotateY(360deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }

  .flip-animation:hover img{
    animation: flip 1s forwards;
  }

  .flip-back-animation img{
    animation: flipBack 0.5s forwards;
  }




  /* portfolio page */



  .live_icon:hover p{
    display: block;
  }
  .code_icon:hover p{
    display: block;
  }
  .flip-back-icon-animation{
    animation: flipBack 0.8s forwards;
  }
  .flip-icon-animation:hover{
    animation: flip 0.8s forwards;
  }



  /* contact page */

  .group input{
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
  .group input:hover {
    box-shadow: none;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
  }
  .group input:active{
    background-color: gray;
  }



  /* home page */



  .flip-back-social-icon-animation i{
    animation: flipBack 0.5s forwards;
  }
  .flip-social-icon-animation:hover i{
    animation: flip 0.8s forwards;
    /* scale: 1.2; */
  }